<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	<title></title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{{ url_for('index') }}" title="">Home</a>
			<a class="nav-item nav-link" href="{{ url_for('add_pup') }}" title="">Add Pup</a>
			<a class="nav-item nav-link" href="{{ url_for('list_pup') }}" title="">List of Pups</a>
			<a class="nav-item nav-link" href="{{ url_for('del_pup') }}" title="">Delete Pup</a>
			<a class="nav-item nav-link" href="{{ url_for('add_owner') }}" title="">Add Owner</a>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
</body>
</html>